volumes:
  minio_data:

services:

  redis:
    image: redis

  celery:
    build:
      context: .
      dockerfile: Dockerfile.celery
    depends_on:
      - redis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  flower:
    build:
      context: ../ui_flower
      dockerfile: Dockerfile.flower
    depends_on:
      - redis
    ports:
      - "5555:5555"  # Flower web UI
    command: >
      celery -A worker.main
      --broker=redis://redis:6379/0
      flower
      --port=5555
      --persistent=True
      --db=/tmp/flower
      --max-tasks=1000
      --auto-refresh=True

  fastapi:
    build:
      context: ../api
      dockerfile: Dockerfile.fastapi
    ports:
      - "8000:8000"
    environment:
      MINIO_ENDPOINT   : ${MINIO_ENDPOINT}
      MINIO_ACCESS_KEY : ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY : ${MINIO_ROOT_PASSWORD}
      MINIO_SECURE     : ${MINIO_SECURE}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}

  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BROWSER_REDIRECT_URL: http://localhost/minio/dashboard # Without it Minio doesn't know how to render itself under a subpath.
    volumes:
      - minio_data:/data
    restart: unless-stopped