volumes:
  guac_init_data:
  guac_drive:
  guac_record:
  guac_data:

services:

  guac_init:
    image: guacamole/guacamole:1.6.0
    restart: "no"
    user: root
    entrypoint: ["/bin/sh", "-c"]

    command: >
      "mkdir -p /init &&
       /opt/guacamole/bin/initdb.sh --postgresql > /init/initdb.sql &&
       chown -R 1000:1000 /init"

    volumes:
      - guac_init_data:/init

  guacd:
    container_name: guacd
    image: guacamole/guacd:1.6.0
    restart: always

    volumes:
    - guac_drive:/drive:rw
    - guac_record:/record:rw

  guacdb:
    container_name: guacdb
    image: postgres
    restart: always

    environment:
      PGDATA: /var/lib/postgresql/data/guacamole
      POSTGRES_DB: ${GUAC_POSTGRESQL_DATABASE}
      POSTGRES_PASSWORD: ${GUAC_POSTGRESQL_PASSWORD}
      POSTGRES_USER: ${GUAC_POSTGRESQL_USERNAME}

    volumes:
    # Mount the generated init SQL so Postgres will execute it on first run
    - guac_init_data:/docker-entrypoint-initdb.d
    - guac_data:/var/lib/postgresql/data:Z

    depends_on:
      guac_init:
        condition: service_completed_successfully

  guacamole:
    container_name: guacamole
    image: guacamole/guacamole:1.6.0
    restart: always
    
    group_add:
      - "1000" # You need to add group 1000 so that the container process has the same group ID as the host user who owns the mounted volume (./record), ensuring the Guacamole container can read/write files there without permission errors.

    depends_on:
    - guacd
    - guacdb

    environment:
      GUACD_HOSTNAME: guacd
      POSTGRESQL_HOSTNAME: guacdb
      POSTGRESQL_DATABASE: ${GUAC_POSTGRESQL_DATABASE}
      POSTGRESQL_PASSWORD: ${GUAC_POSTGRESQL_PASSWORD}
      POSTGRESQL_USERNAME: ${GUAC_POSTGRESQL_USERNAME}
      RECORDING_SEARCH_PATH: /record

    volumes:
      - guac_record:/record:rw

    ports:
      - 8081:8080/tcp # Guacamole is on :8080/guacamole, not /.
