services:

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    depends_on:
      - openresty
    command: start --all --log stdout #--log-level debug
    environment:
        NGROK_CONFIG: /etc/ngrok.yml
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml:ro
    ports:
      - "4040:4040"
