volumes:

  # Web-related volumes.
  postgres_data:
  minio_data:
  pgadmin4_data:
  ca_data:             # Stores root CA.
  cert_openresty_data: # Stores server certificates.

  # Guacamole-related volumes.
  guac_init_data:
  guac_drive:
  guac_record:
  guac_data:

services:

  ### Webservice ###

  ca:
    image: alpine:latest
    command: sh /generate_ca.sh
    volumes:
      - ca_data:/ca
      - ./proxy/generate_ca.sh:/generate_ca.sh:ro
    healthcheck:
      test: ["CMD-SHELL", "test -f /ca/rootCA.crt"]
      interval: 5s
      retries: 10
      start_period: 2s
      timeout: 2s

  cert_openresty:
    image: alpine:latest
    depends_on:
      ca:
        condition: service_healthy
    command: >
      sh -c "
        apk add --no-cache openssl &&
        while [ ! -f /ca/rootCA.crt ]; do
          echo 'Waiting for CA...';
          sleep 1;
        done &&
        mkdir -p /cert &&
        if [ ! -f /cert/openresty.crt ]; then
          echo 'Generating server certificate...';
          openssl genrsa -out /cert/openresty.key 2048 &&
          openssl req -new -key /cert/openresty.key -out /cert/openresty.csr -subj '/CN=${SUBJECT_CN}' &&
          printf 'subjectAltName=${SUBJECT_ALT_NAME},DNS:openresty1' > /tmp/san.cnf &&
          openssl x509 -req -in /cert/openresty.csr -CA /ca/rootCA.crt -CAkey /ca/rootCA.key -CAcreateserial -out /cert/openresty.crt -days 1095 -sha256 -extfile /tmp/san.cnf &&
          openssl x509 -in /cert/openresty.crt -text -noout | grep -A 1 'Subject Alternative Name'
        else
          echo 'Server cert already exists, skipping generation';
        fi &&
        echo 'Certificate is ready, keeping container alive for 10 seconds.' &&
        sleep 10
      "
    volumes:
      - ca_data:/ca
      - cert_openresty_data:/cert
    healthcheck:
      test: ["CMD-SHELL", "test -f /cert/openresty.crt"]
      interval: 5s
      retries: 10
      start_period: 2s
      timeout: 2s

  postgres:
    image: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./database/initdb.sql:/docker-entrypoint-initdb.d/initdb.sql:ro
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BROWSER_REDIRECT_URL: http://localhost/minio/dashboard # Without it Minio doesn't know how to render itself under a subpath.
    volumes:
      - minio_data:/data
    restart: unless-stopped

  redis:
    image: redis
    restart: unless-stopped

  pgadmin4:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin4_data:/var/lib/pgadmin
    restart: unless-stopped

  fastapi:
    build:
      context: api
      dockerfile: Dockerfile.fastapi
    restart: unless-stopped
    depends_on:
      - postgres
      - redis
      - minio
    command: >
      uvicorn api.main:api
      --host 0.0.0.0
      --port 8000
      --proxy-headers
      --forwarded-allow-ips '*'
      --root-path /api
    environment:
      MINIO_ENDPOINT   : ${MINIO_ENDPOINT}
      MINIO_ACCESS_KEY : ${MINIO_ROOT_USER}
      MINIO_SECRET_KEY : ${MINIO_ROOT_PASSWORD}
      MINIO_SECURE     : ${MINIO_SECURE}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}

  celery:
    build:
      context: worker
      dockerfile: Dockerfile.celery
    restart: unless-stopped
    depends_on:
      - redis
      - postgres
      - minio

  streamlit:
    build:
      context: webui
      dockerfile: Dockerfile.streamlit
    environment:
      PYTHONDONTWRITEBYTECODE: 1
      PYTHONUNBUFFERED: 1
    command: >
      streamlit run webui/app.py
      --server.address=0.0.0.0

  openresty:
    depends_on:
      cert_openresty:
        condition: service_healthy
    build:
      context: proxy
      dockerfile: Dockerfile.openresty
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./proxy/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./proxy/favicon.ico:/usr/local/openresty/nginx/html/favicon.ico:ro
      - ./proxy/lua:/etc/openresty/lua:ro
      - cert_openresty_data:/etc/ssl/cert # server cert + key
      - ca_data:/etc/ssl/ca:ro             # rootCA.crt for trust
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  ### Guacamole ###

  guac_init:
    image: guacamole/guacamole:1.6.0
    restart: "no"
    user: root
    entrypoint: ["/bin/sh", "-c"]

    command: >
      "mkdir -p /init &&
       /opt/guacamole/bin/initdb.sh --postgresql > /init/initdb.sql &&
       chown -R 1000:1000 /init"

    volumes:
      - guac_init_data:/init

  guacd:
    image: guacamole/guacd:1.6.0
    restart: always

    volumes:
    - guac_drive:/drive:rw
    - guac_record:/record:rw

  guacdb:
    image: postgres
    restart: always

    environment:
      # PGDATA: /var/lib/postgresql/data/guacamole
      POSTGRES_DB: ${GUAC_POSTGRESQL_DATABASE}
      POSTGRES_PASSWORD: ${GUAC_POSTGRESQL_PASSWORD}
      POSTGRES_USER: ${GUAC_POSTGRESQL_USERNAME}

    volumes:
    # Mount the generated init SQL so Postgres will execute it on first run
    - guac_init_data:/docker-entrypoint-initdb.d
    - guac_data:/var/lib/postgresql/data:Z

    depends_on:
      guac_init:
        condition: service_completed_successfully

  guacamole:
    image: guacamole/guacamole:1.6.0
    restart: always
    
    group_add:
      - "1000" # You need to add group 1000 so that the container process has the same group ID as the host user who owns the mounted volume (./record), ensuring the Guacamole container can read/write files there without permission errors.

    depends_on:
    - guacd
    - guacdb

    environment:
      GUACD_HOSTNAME: guacd
      POSTGRESQL_HOSTNAME: guacdb
      POSTGRESQL_DATABASE: ${GUAC_POSTGRESQL_DATABASE}
      POSTGRESQL_PASSWORD: ${GUAC_POSTGRESQL_PASSWORD}
      POSTGRESQL_USERNAME: ${GUAC_POSTGRESQL_USERNAME}
      RECORDING_SEARCH_PATH: /record

    volumes:
      - guac_record:/record:rw
